# The URL to the OPNSense API endpoint to get the DHCP leases. You'll only
# need to edit the hostname and possibly the protocol here.
API_URL=https://opnsense.local/api/dhcpv4/leases/searchLease

# Username and Password for the OPNSense API. Note that these are API 
# credentials, not the username and password used to log in to OPNSense's UI.
API_USER=abcdefgh12345678
API_PASS=qwertyui09876543

# The Bind9 base config directory, most likely /etc/bind
# If running Bind9 as a docker container, you'll have to bind the volume to 
# a directory on the docker host, and point this to that directory.
#BASE_DIR=/etc/bind

# The path to the rndc command, defaults to /usr/sbin/rndc
# This will be run with the arguments "reload <zone-name>" to reload the zones 
# after updating them. If you're running bind9 as a docker container, make a 
# script like this and point this setting to that script.
# -----------
# #!/bin/bash
# docker exec -it bind9_container rndc "$@"
# -----------
#RNDC_CMD=/usr/sbin/rndc

# Name of the main zone
ZONE_NAME=mydomain.example.com

# Main config-file, including any subdirectories.
# This has to be relative to BASE_DIR
# This file has to contain a line with the serial number, and that line has 
# to look like this where xxxx is the serial number:
# xxxx ; serial
# The whitespace doesn't matter as long as you have the serial number as a 
# number followed by a semicolon and the word "serial".
MAIN_CONF=mydomain.example.com/main.conf

# The file where the A-records will be put. This file needs to be included in 
# the main config-file, and it will be completely regenerated by the program 
# every time it receives new hosts from OPNSense.
HOST_FILE=mydomain.example.com/dhcphosts.conf

# The subnet prefix. Used for the reverse zone name and corresponding 
# zone-file. If the network is 192.168.0.0/24 then this should be 192.168.0
# and the PTR Zone-file will become db.0.168.192.in-addr.arpa and located
# within BASE_DIR. Note that this file must exist, and it must contain a line 
# with the serial number as described in MAIN_CONF above.
SUBNET_PREFIX=192.168.1

# The file for the PTR-records. This file needs to be included in the PTR 
# Zone-file as it will be completely regenerated by the program every time it 
# receives new hosts from OPNSense.
PTR_FILE=mydomain.example.com/ptr-dhcphosts.conf

# A comma-separated list of hostnames and/or IP-addresses that will be ignored 
# in the hosts-file (A-records). Mostly used for hosts you've defined already, 
# like probably the nameserver(s)
IGNORED_HOSTS=ns1,ns2,pihole

# A comma-separated list of hostnames and/or IP-addresses that will be ignored 
# in the reverse hostfile (PTR-records).
# Don't know why you would need this, but it's here if you do.
IGNORED_PTR=
